<%= form_for(@conference) do |f| %>
  <% if @conference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conference.errors.count, "error") %> prohibited this conference from being saved:</h2>

      <ul>
      <% @conference.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">  
    <%= f.label :name %><br>
    <%= f.text_field :name, :class => "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :dateandtime, "Date and Time" %><br>
    <%= f.datetime_local_field :dateandtime, :class => "form-control"  %>
    <%#= f.time_zone_select :dateandtime, ActiveSupport::TimeZone.us_zones %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :address %><br>
    <%= f.text_field :address, :class => "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
