<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-6"> 
    <p>Welcome to ConferenceCat, your one stop shop for amenities and activities surrounding tech conferences. Below you will find a curated list of upcoming conferences. Click the links to see a more detailed description of each, along with its location and time. On the included map, you'll be able to quickly spot nearby food and beverage spots, as well as hotel and travel options.</p>

    <p>Utilizing various API services, we are able to aggregate this information in one place, giving you a more broad view of what each area has to offer.</p>
  </div>
  <div class="col-md-6">
    <img src="http://i.imgur.com/QfM67y8.jpg" class="pull-right">
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @conferences.each do |conference| %>
      <tr>
        <td><%= link_to conference.name, conference, 'data-no-turbolink' => true %></td>
        <td><%= conference.address %></td>
        <td><%= conference.dateandtime.strftime('%b %d %Y') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Conference', new_conference_path %>
