<p id="notice"><%= notice %></p>

<h1>Listing Conferences</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Date and Time</th>
    </tr>
  </thead>

  <tbody>
    <% @conferences.each do |conference| %>
      <tr>
        <td><%= link_to conference.name, conference, 'data-no-turbolink' => true %></td>
        <td><%= conference.address %></td>
        <td><%= conference.dateandtime %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Conference', new_conference_path %>
