  <script src="//maps.google.com/maps/api/js?v=3.13%amp;sensor=false%amp;libraries=geometry" type="text/javascript"></script>
  <script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" type="text/javascript"></script>

<p id="notice"><%= notice %></p>

<div class="row">
  <h2><%= @conference.name %></h2>
</div>
<hr>

<div class="row">
  <div class="col-md-4">

    <div class="panel-group" role="tablist">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="collapseListGroupHeading1">
          <h4 class="panel-title">
            <a class="" role="button" data-toggle="collapse" href="#collapseListGroup1" aria-expanded="true" aria-controls="collapseListGroup1">Hotels<span class="glyphicon glyphicon-triangle-bottom pull-right hotels"></a>
          </h4>
        </div>
        <div id="collapseListGroup1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading1" aria-expanded="true">
          <ul class="list-group" id="hotels"></ul>
        </div>
      </div>
    </div>


    <div class="panel-group" role="tablist">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="collapseListGroupHeading2">
          <h4 class="panel-title">
            <a class="" role="button" data-toggle="collapse" href="#collapseListGroup2" aria-expanded="true" aria-controls="collapseListGroup2">Restaurants<span class="glyphicon glyphicon-triangle-bottom pull-right restaurants"></a>
          </h4>
        </div>
        <div id="collapseListGroup2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading2" aria-expanded="true">
          <ul class="list-group" id="restaurants"></ul>
        </div>
      </div>
    </div>

    <div class="panel-group" role="tablist">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="collapseListGroupHeading3">
          <h4 class="panel-title">
            <a class="" role="button" data-toggle="collapse" href="#collapseListGroup3" aria-expanded="true" aria-controls="collapseListGroup3">Transportation<span class="glyphicon glyphicon-triangle-bottom pull-right transportation"></a>
          </h4>
        </div>
        <div id="collapseListGroup3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading3" aria-expanded="true">
          <ul class="list-group" id="transportation"></ul>
        </div>
      </div>
    </div>

    <div class="panel-group" role="tablist">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="collapseListGroupHeading4">
          <h4 class="panel-title">
            <a class="" role="button" data-toggle="collapse" href="#collapseListGroup4" aria-expanded="true" aria-controls="collapseListGroup4">Fun Stuff<span class="glyphicon glyphicon-triangle-bottom pull-right funstuff"></a>
          </h4>
        </div>
        <div id="collapseListGroup4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading4" aria-expanded="true">
          <ul class="list-group" id="funstuff"></ul>
        </div>
      </div>
    </div>
 
  </div>
  <div class="col-md-8"> 

    <div class="panel panel-default">
      <div class="panel-body"> 
        <div style='width: 100%;'>
          <div id="map" style='width: 100%; height: 400px;'></div>
        </div>
      </div>

      <div id="DirectionStuff"></div>

    </div>
  </div>
</div>

<hr>
<div class="row well description">
  <div class="col-md-6">
    <p><strong>Description</strong></p>
    <p><%= @conference.description %></p>
  </div>
  <div class="col-md-6">
    <p><strong>Date</strong>: <%= @conference.dateandtime.strftime('%d %b %Y') %></p>
    <p><strong>Location</strong>: <%= @conference.address %></p>
  </div>
</div>

<script type='text/javascript'>
  $(document).ready(function(){
    $("#collapseListGroup1").on('shown.bs.collapse', function(){
      turnOnMarkers(hotels_markers);
    }).on('hidden.bs.collapse', function(){
      turnOffMarkers(hotels_markers);
      directionsDisplay.setMap(null);
      directionsDisplay.setPanel(null);
    });
    $("#collapseListGroup2").on('shown.bs.collapse', function(){
      turnOnMarkers(restaurants_markers);
    }).on('hidden.bs.collapse', function(){
      turnOffMarkers(restaurants_markers);
      directionsDisplay.setMap(null);
      directionsDisplay.setPanel(null);
    });
    $("#collapseListGroup3").on('shown.bs.collapse', function(){
      turnOnMarkers(transportation_markers);
    }).on('hidden.bs.collapse', function(){
      turnOffMarkers(transportation_markers);
      directionsDisplay.setMap(null);
      directionsDisplay.setPanel(null);
    });
    $("#collapseListGroup4").on('shown.bs.collapse', function(){
      turnOnMarkers(funstuff_markers);
    }).on('hidden.bs.collapse', function(){
      turnOffMarkers(funstuff_markers);
      directionsDisplay.setMap(null);
      directionsDisplay.setPanel(null);
    });

    $('.hotels').append(" " + hotels_json.length);
    $('.restaurants').append(" " + restaurants_json.length);
    $('.transportation').append(" " + transportation_json.length);
    $('.funstuff').append(" " + funstuff_json.length);
  });

  window.onload = function() {turnOffAllMarkersButOrigin();};

  function turnOffAllMarkersButOrigin() {
    turnOffMarkers(hotels_markers);      
    turnOffMarkers(restaurants_markers);
    turnOffMarkers(transportation_markers);
    turnOffMarkers(funstuff_markers);
  };

  function turnOffMarkers(markers_local) {
    for(i=0; i < markers_local.length; i++) {
      markers_local[i].setMap(null);
    }
      handler.removeMarkers(markers_local);
  }


  function turnOnMarkers(markers_local) {
    for(i=0; i < markers_local.length; i++) {
      markers_local[i].setMap(handler.getMap());
    }
    handler.addMarkers(markers_local);
  }

  locations_json = <%=raw @locations.to_json %>;
  restaurants_json = <%=raw @restaurants.to_json %>;
  transportation_json = <%=raw @transportation.to_json %>;
  hotels_json = <%=raw @hotels.to_json %>;
  funstuff_json=<%=raw @funstuff.to_json %>;

  function calcRoute(selected_marker) {
    var origin = new google.maps.LatLng(locations_json[0].lat, locations_json[0].lng);
    var destination = selected_marker;
    var request = {
      origin:       origin,
      destination:  destination,
      travelMode:   google.maps.TravelMode.DRIVING
    };
    directionsService.route(request, function(response, status) {
      if(status == google.maps.DirectionsStatus.OK){
        directionsDisplay.setMap(handler.getMap());
        directionsDisplay.setPanel(document.getElementById("DirectionStuff"));
        directionsDisplay.setDirections(response);
      } else {
        window.alert('Directions failed due to ' + status + "," +origin +","+ destination);
      }
    });
  }
  directionsDisplay = new google.maps.DirectionsRenderer;
  directionsService = new google.maps.DirectionsService;
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers (locations_json, { "opacity": 0.7 });
    hotels_markers = handler.addMarkers(hotels_json);
    restaurants_markers = handler.addMarkers(restaurants_json);
    transportation_markers = handler.addMarkers(transportation_json);
    funstuff_markers = handler.addMarkers(funstuff_json);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(12);

    directionsDisplay.setOptions({suppressMarkers: true});

    _.each(locations_json, function(json, index){
      json.marker = markers[index];
    });
    _.each(hotels_json, function(json, index){
      json.marker = hotels_markers[index];
    });
    _.each(restaurants_json, function(json, index){
      json.marker = restaurants_markers[index];
    });
    _.each(transportation_json, function(json, index){
      json.marker = transportation_markers[index];
    });
    _.each(funstuff_json, function(json, index){
      json.marker = funstuff_markers[index];
    });
    createSidebar(restaurants_json, '#restaurants');
    createSidebar(transportation_json, '#transportation');
    createSidebar(hotels_json, '#hotels');
    createSidebar(funstuff_json, '#funstuff');

  });
  
  function createSidebarLi(json){
      return ("<li class='list-group-item'><a>" + json.name + "</a></li>");
  };
  function bindLiToMarker($li, marker){
    $li.on('click', function(){
      handler.getMap().setZoom(17);
      turnOffAllMarkersButOrigin();
      marker.setMap(handler.getMap());
      marker.panTo();
      calcRoute(handler.getMap().getCenter());
      google.maps.event.trigger(marker.getServiceObject(), 'click');
    })
  };

  function createSidebar(json_array, id){
    _.each(json_array, function(json){
      var $li = $( createSidebarLi(json) );
      $li.appendTo(id);
      bindLiToMarker($li, json.marker);
    });
  };
</script>

<%= link_to 'Edit', edit_conference_path(@conference) %> |
<%= link_to 'Delete', conference_path(@conference), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', conferences_path %>
